html, body {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}
.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.col-left {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.col-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-group {
    display: flex;
    padding: 20px;
}

.ask-form {
    margin-top: auto;
}