{% extends "layout.html" %}

{% block content %}
<div class="flex-container red">
  <div class="col-left orange">
     PDF LIST
    <ul class="list-group list-group-flush">
      {% for pdf in pdfs %}
        <li class="list-group-item">
          {{ pdf }}
          <form action="/delete" method="POST">
            <input type="hidden" name="pdf_name" value="{{ pdf }}">
            <button class="btn btn-danger btn-sm float-end" onclick="deletePDF('{{ pdf }}')">Delete</button>
          </form>
        </li>
      {% endfor %}
      <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="pdf_file" class="form-label">Upload PDF</label>
        <input class="form-control" type="file" id="pdf_file" name="file" accept=".pdf">
      </div>
      <button type="submit" class="btn btn-light">Upload</button>
      </form>
    </ul>
  </div>
  <div class="col-right green">
    <div id="chat">
      hi
    </div>
    <form action="/ask" class="ask-form" id="ask-form" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="question" id="question" placeholder="Type your question here...">
        <button type="submit">Ask</button>
      </div>
    </form>
  </div>
</div>

<script>

const ask_form = document.getElementById("ask-form");
const question = document.getElementById("question");
const chat = document.getElementById("chat");

ask_form.addEventListener("submit", async function(event) {
  event.preventDefault();
  const questionSentence = question.value;
  const response = await fetch("/ask", {
    method: "POST",
    headers: {
      "Content-Type": "application/x-www-form-urlencoded"
  },
    body: new URLSearchParams({ question: questionSentence })
  });
  const data = await response.json();
  chat.innerHTML += '<p><strong>You:</strong> ' + questionSentence + '</p>';
  chat.innerHTML += '<p><strong>PDF GPT:</strong> ' + data.answer + '</p>';
  question.value = "";
});

</script>
{% endblock %}